services:
  oauth2-proxy:
    image: quay.io/oauth2-proxy/oauth2-proxy:v7.13.0-alpine
    command: >
      --config "/oauth2-proxy.cfg"
      --cookie-secret=${OAUTH_COOKIE_SECRET}
      --client-id=${APPLICATION_ID}
      --client-secret=${APPLICATION_CLIENT_SECRET}
      --redirect-url="https://${HOST}.${DOMAIN}/${APPLICATION_ID}"
      --oidc-issuer-url="https://${HOST}.${DOMAIN}/${KEYCLOAK_ROUTE_PREFIX}/realms/${KEYCLOAK_REALM_NAME}"
      --email-domain=*
    volumes:
      - "./oauth2_proxy/oauth2-proxy-traefik.cfg:/oauth2-proxy.cfg"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.oauth2-proxy.rule=Host(`${HOST}.${DOMAIN}`)&&PathPrefix(`/oauth2/`)"
      - "traefik.http.routers.oauth2-proxy.entrypoints=websecure"
      # Define the internal container port for routing
      - "traefik.http.services.oauth2-proxy.loadbalancer.server.port=4180"
      # Enable TLS on this router
      - "traefik.http.routers.oauth2-proxy.tls=true"
      # Use Let's Encrypt for TLS management
#      - "traefik.http.routers.oauth2-proxy.tls.certresolver=letsencrypt"
      # Apply middlewares
      - "traefik.http.routers.oauth2-proxy.middlewares=compress-traefik@file,security-headers@file"
      # Define middlewares for oauth apps
      - "traefik.http.middlewares.oauth-auth.forwardAuth.address=https://${HOST}.${DOMAIN}/oauth2/"
      - "traefik.http.middlewares.oauth-auth.forwardAuth.trustForwardHeader=true"
      - "traefik.http.middlewares.oauth-errors.errors.status=401-403"
      - "traefik.http.middlewares.oauth-errors.errors.query=/oauth2/sign_in?rd={url}"
      - "traefik.http.middlewares.oauth-errors.errors.service=oauth2-proxy"
    hostname: oauth2-proxy
    depends_on:
      traefik:
        condition: service_healthy
      keycloak:
        condition: service_healthy
    networks:
      - keycloak
      - auth
    healthcheck:
      test: [ "CMD", "wget", "--tries=1", "--spider", "http://localhost:4180/ping" ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 90s
