http:
%{ if oauth_required || strip_path_prefix ~}
  middlewares:
%{ endif ~}
%{ if oauth_required ~}
    oauth-auth-${application_id}:
      forwardAuth:
        address: http://oauth2-proxy-${application_id}:4180/apps/${application_id}/oauth/auth
        trustForwardHeader: true
        authResponseHeaders:
          - Authorization
          - X-Auth-Request-Access-Token
    oauth-errors-${application_id}:
      errors:
        status:
          - "401-403"
        service: ${application_id}-oauth2-proxy@docker
        query: /apps/${application_id}/oauth2/sign_in?rd={url}
%{ endif ~}
%{ if strip_path_prefix ~}
    strip-prefix-${application_id}:
        stripPrefix:
            prefixes:
              - /apps/${application_id}
%{ endif ~}
  routers:
%{ if oauth_required ~}
    ${application_id}-oauth2-proxy:
      service: ${application_id}-oauth2-proxy@docker
      rule: Host(`${public_host}`)&&PathPrefix(`/apps/${application_id}/oauth/`)
      tls: true
      entrypoints:
        - websecure
      middlewares:
        - compress-traefik
        - append-slash
        - security-headers
%{ endif ~}
    ${application_id}:
      rule: Host(`${public_host}`)&&${application_path_filter}&&!PathPrefix(`/apps/${application_id}/oauth/`)
      tls: true
      service: ${service_id}
      entrypoints:
        - websecure
      middlewares:
        - compress-traefik
        - append-slash
        - security-headers
%{ if oauth_required ~}
        - oauth-auth-${application_id}
        - oauth-errors-${application_id}
%{ endif ~}
%{ if strip_path_prefix ~}
        - strip-prefix-${application_id}
%{ endif ~}
%{ if length(urls) > 0 ~}
  services:
    ${application_id}:
      loadBalancer:
        servers:
%{ for url in urls ~}
          - url: ${url}
%{ endfor ~}
%{ endif ~}